<div class="photos">
  <div class="item1">
    <img src="../../assets/Jeff.jpg" alt="amazon" width="300" height="200" />
  </div>
  <div class="item2">
    <img src="../../assets/Marissa.jpg" alt="yahoo" width="300" height="200" />
  </div>
  <div class="item3">
    <img src="../../assets/Mark.jpg" alt="facebook" width="640" height="530" />
  </div>
  <div class="item4">
    <img src="../../assets/satya.jpg" alt="microsoft" width="640" height="300" />
  </div>
  <div class="item5">
    <img src="../../assets/sundhar.jpg" alt="google" width="640" height="300" />
  </div>
  <div class="item6">
    <img src="../../assets/Tim.jpg" alt="apple" width="640" height="300" />
  </div>
</div>
